.CheckoutProduct__home {
    display: flex;
    margin-top: 20px;
    border-bottom: 20px;
    height: 200px;
    border-bottom: 1px solid gray;
}
.remove__item__from__cart{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from{
        left:0%;
    }
    to{
        left:102%;
    }
}

.CheckoutProduct__home2 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.CheckoutProduct__home > img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.remove__from__button {
    margin: 10px;
    background: hsl(43, 82%, 62%);
    border: 1px solid;
    color: black;
    width: 300px;
}

