.order{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.order > span , small{
    font-weight: 500;
    font-style: italic;
    font-size: medium;
    padding-left: 10px;
}
.order__id{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}