.payment__main{
    display: flex;
    flex-direction: column;
    padding:20px;
    background-color: whitesmoke;
}
.payment__main > h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
input {
    font-size: 1000;
    font-weight: 700;
}

.payment__delivery , .payment__items , .payment__payment{
    display: flex;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid gray;
}
.delivery__itle , .items__title , .payment__title{
    flex: 0.2;
}
.delivery__address , .items__list , .payment__card{
    flex: 0.8;
    padding-left: 20px;
    font-weight: 500;
}
.payment__payment{
    position: sticky;
    bottom: 10%;
    box-shadow: 10px 10px 10px;
    box-shadow: 10px 10px 10px inverted;
}
.payment__pricetotal{
    padding-top: 20px;
}